{% extends 'layout.html' %}
{% block bace %}


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1400x400/?resort" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1400x400/?luxury hotel" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1400x400/?Hotel, swimming pool" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<br>
<div class="container">
  <div class="row mb-2 ">

    <div class="col-md-6">

      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">$200.00 / per night</strong>
          <h3 class="mb-0">LUXURY ROOM</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a Luxury Room. Limited Room Available.</p>
          <a href="/form" class="stretched-link">Book Now!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="350" height="241"
            src=https://preview.colorlib.com/theme/suites/images/ximg_2.jpg.pagespeed.ic.jAvfEkr8MX.webp alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">$150.00 / per night</strong>
          <h3 class="mb-0">DELUXE ROOM</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is Deluxe Room. Book Now!
          </p>
          <a href="/form" class="stretched-link">Book Now!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="350" height="241"
            src=https://preview.colorlib.com/theme/suites/images/ximg_1.jpg.pagespeed.ic.1H3zXpM6hU.webp alt="">
        </div>


      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">$400.00 / per night</strong>
          <h3 class="mb-0">FAMILY ROOM</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">Family Room.</p>
          <a href="/form" class="stretched-link">Book Now!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="350" height="241"
            src=https://preview.colorlib.com/theme/suites/images/ximg_4.jpg.pagespeed.ic.W0Sf100aYJ.webp alt="">
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">200.00 / per night</strong>
          <h3 class="mb-0">STANDARD ROOM</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">Standard Room</p>
          <a href="/form" class="stretched-link">Book Now!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="350" height="241"
            src=https://preview.colorlib.com/theme/suites/images/ximg_3.jpg.pagespeed.ic.osxKtu1h5b.webp alt="">
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock bace %}